body {
  font-family: 'Arial', 
  sans-serif;
  text-align: center;
  
  
}

h1 {
  text-align: center;
}

.container {
  justify-content: 
  center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.search {
  flex-wrap: auto;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* button overflow */
/* fixed button overflow w/ flex-wrap */